<!DOCTYPE html>
<html>
<head>
	<title></title>
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style type="text/css">
@CHARSET "UTF-8";
/*
over-ride "Weak" message, show font in dark grey
*/

.progress-bar {
    color: #333;
} 

/*
Reference:
http://www.bootstrapzen.com/item/135/simple-login-form-logo/
*/

* {
    -webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	outline: none;
}

    .form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
		@include box-sizing(border-box);

		&:focus {
		  z-index: 2;
		}
	}

body {
	background: url(http://i.imgur.com/GHr12sH.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login-form {
	margin-top: 60px;
}

	form[role=login] {
		color: #5d5d5d;
		background: #f2f2f2;
		padding: 26px;
		border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
	}
	form[role=login] img {
		display: block;
		margin: 0 auto;
		margin-bottom: 35px;
	}
	form[role=login] input,
	form[role=login] button {
		font-size: 18px;
		margin: 16px 0;
	}
	form[role=login] > div {
		text-align: center;
	}
	
	.form-links {
		text-align: center;
		margin-top: 1em;
		margin-bottom: 50px;
	}
	.form-links a {
		color: #fff;
	}
	.padTopSpc{
		padding-top: 35px !important;
	}
	.error{
		color:red;
		font-weight:900;
	}
	</style>

</head>
<body>
	<div class="container">
	  	<div class="row" id="pwd-container">
		    <div class="col-md-1"></div>
		    <div class="col-md-10">
		      	<section class="login-form">
		        	<form method="get" action="varificationForm.html" role="login">
		          		<h2 class='text-center'>WinWin Bank Accounts</h2>
		          		<button type="button" name="verified"  id="verified" class="btn btn-primary " onclick="loadModal('bank_account')">Add Bank Account</button>
		          		<a href="/demo5Login">
		          		<button type="button" class="btn btn-success">Log out</button>
		          		</a>
	          			<table class="table">
					    	<thead>
					      		<tr>
					        		<th>Bank Name</th>
					        		<th>Account Number</th>
					        		<th>Status</th>
					        		<th></th>
					      		</tr>
					    	</thead>
					    	<tbody>
					    	<% if(data.length){ 
							    for(var i = 0;i < data.length;i++) { %>
							  		<tr>
							    		<td><%=(i+1)%></td>
							    		<td><%=data[i].field1%></td>
							    		<td><%=data[i].field2%></td>
							    		<td><%=data[i].field3%></td>
							  		</tr>
							  	<% }
							  	}else{ %>
							  		<tr>
							    		<td colspan="3">No user</td>
							  		</tr>
							<% } %>
					      		<!-- <tr>
					        		<td class="padTopSpc">Bank of america</td>
					        		<td class="padTopSpc">****4800</td>
					        		<td class="padTopSpc">Verified</td>
					        		<td><a href="/demo5"><button type="button" name="verified"  id="verified" class="btn btn-lg btn-primary btn-block" >Buy Now?</button></a></td>
					      		</tr>
					      		<tr>
					        		<td class="padTopSpc">Bank of america</td>
					        		<td class="padTopSpc">****8600</td>
					        		<td class="padTopSpc">Unverified</td>
					        		<td><button type="button" name="verified"  id="verified" class="btn btn-lg btn-primary btn-block" onclick="loadModal('verify');">Verify?</button></td>
					      		</tr>
					      		<tr>
					        		<td class="padTopSpc">Bank of america</td>
					        		<td class="padTopSpc">****9700</td>
					        		<td class="padTopSpc">Verified</td>
					        		<td><a href="/demo5"><button type="button" name="verified"  id="verified" class="btn btn-primary btn-block" >Buy Now?</button></a></td>
					      		</tr> -->
							<% if(data.length){ 
							    for(var i = 0;i < data.length;i++) { %>
							  <tr>
							    <td><%=(i+1)%></td>
							    <td><%=data[i].field1%></td>
							    <td><%=data[i].field2%></td>
							    <td><%=data[i].field3%></td>
							  </tr>
							  <% }
							  }else{ %>
							  <tr>
							    <td colspan="3">No user</td>
							  </tr>
							<% } %>
					      	</tbody>
					  	</table>
					</form>
		      	</section>  
		    </div>
		    <div class="col-md-1"></div>
		</div>
	</div>
	<!-- Modal -->
    <div class = "modal fade" id = "myModal" tabindex = "-1" role = "dialog" 
       aria-labelledby = "myModalLabel" aria-hidden = "true">
       <div class = "modal-dialog">
          <div class = "modal-content">
             <div class = "modal-header">
                <h4 class = "modal-title text-center" id="myModalLabel">
                    Micro-deposit amounts in cents
                </h4>
                <button type = "button btn-close" class = "close" data-dismiss = "modal" aria-hidden = "true" id="close">
                   ×
                </button>
             </div>
             <div class = "modal-body">
	            <form action="/api/products/bank-verify" method="post">
				  <div class="form-group">
				    <label>First Deposit:</label>
				    <input type="text" class="form-control" id="first_deposit" name="first_deposit" placeholder="Amount 1">
				    <span class='error' id="errDeposit1"></span>
				  </div>
				  <div class="form-group">
				    <label>Second Deposit:</label>
				    <input type="text" class="form-control" id="second_deposit" name="second_deposit" placeholder="Amount 2">
				    <span class='error' id="errDeposit2"></span>
				  </div>
				  <button type="button" data-dismiss ="modal" class="btn btn-danger" id="closeVerify">Close</button>
				  <input type="hidden" value="" name="amt1" class="amt1">
				  <input type="hidden" value="" name="amt2" class="amt2">
				  <button type="button" class="btn btn-success" id="verify_deposits">Verify</button>
				</form>
			</div>
          </div><!-- /.modal-content -->
       </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Modal -->
    <div class = "modal fade" id = "myNewBankAccount" tabindex = "-1" role = "dialog" 
       aria-labelledby = "myModalLabel" aria-hidden = "true">
       <div class = "modal-dialog">
          <div class = "modal-content">
             <div class = "modal-header">
                <h4 class = "modal-title text-center" id="myModalLabel">
                   <b> Bank Account Details</b>
                </h4>
                <button type = "button btn-close" class = "close" data-dismiss = "modal" aria-hidden = "true" id="close">
                   ×
                </button>
             </div>
             <div class = "modal-body">
	            <form action="/api/products/addBankAccount" method="post">
				  	<div class="form-group lrspace">
		              <label for="routing_number1">Routing Number</label>
		              <input type="text" class="form-control" id="routing_number">
		              <span class="error" id="errRoutingNumber"></span>
		            </div> 
		            <div class="form-group lrspace">
		              <label for="account_number1">Account Number</label>
		              <input type="text" class="form-control" id="account_number">
		              <span class="error" id="errAccNumber"></span>
		            </div> 
		            <div class="form-group lrspace">
		              <label for="account_holder_name1">Account Holder Name</label>
		              <input type="text" class="form-control" id="account_holder_name">
		              <span class="error" id="errAccHolderName"></span>
		            </div> 
		            <div class="form-group lrspace">
		              <label>Account Holder Type</label>
		              <select class="form-control" id="account_holder_type" style="cursor: pointer;" >
		                <option value='0'>--Select Account Type</option>
		                <option value="1">Individual</option>
		                <option value="2">Company</option>
		              </select>
		              <span class="error" id="errAccHolderType"></span>
		            </div>
		            <input type="hidden" name="routing_no" value="" class="routing_no">
		            <input type="hidden" name="acc_number" value="" class="acc_number">
		            <input type="hidden" name="acc_holder_type" value="" class="acc_holder_type">
		            <input type="hidden" name="acc_holder_name" value="" class="acc_holder_name">
		            <input type="hidden" name="customer_id" value="" class="customer_id">
				  <button type="button" data-dismiss ="modal" class="btn btn-danger" id="cancelBankDetails">Cancel</button>
				  <button type="submit" class="btn btn-success" id="addBankDetails">Add bank account</button>
				</form>
			</div>
          </div><!-- /.modal-content -->
       </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <script type="text/javascript">
    	function loadModal(type){
    		if(type=='bank_account'){
    			$('#myNewBankAccount').modal('show');
    		}
    		else {
    			$('#myModal').modal('show');
    		}
    	}
    </script>
    <script type="text/javascript">
		$(document).ready(function(){
			//Start Verify Deposit Validation
			$('#verify_deposits').click(function(){
				console.log("In Verify Deposit")
				var deposit1=$("#first_deposit").val();
				var deposit2=$("#second_deposit").val();
				var str = "123456789";
    			var patt1 = /[0-9]/g;
    			var result = deposit1.match(patt1);
    			
				if(deposit1==""){
					$('#errDeposit1').html("Deposit-1 required.");
					return false;
				}
				else{
					$('#errDeposit1').html("");
					if(isNaN(deposit1) == true) {
        				$('#errDeposit1').html("Only digits allowed.");
        				return false;
   					}
					else{
						$('#errDeposit1').html('');
						if(deposit2==''){
							$('#errDeposit2').html('Deposit-2 required.');
						}	
						else{
							$('#errDeposit2').html('');
							if(isNaN(deposit2)==true){
								$('#errDeposit2').html("Only digits allowed.");
        						return false;
							}
							else{
								$('.amt1').val(deposit1);
								$('.amt2').val(deposit2);
							}
						}
					}	
				}
			});
			//End Verify Deposit Validation
			//Start Bank Details Verification Validation
			$('#addBankDetails').click(function(){
				console.log("In Add bank account details");
				var routingNumber=$('#routing_number').val();
				var accountNumber=$('#account_number').val();
				var accountHolderName=$('#account_holder_name').val();
				var	accountHolderIndex=$('#account_holder_type :selected').index();
				var	accountHolderType=$('#account_holder_type :selected').html();
				if(routingNumber==''){
					$('#errRoutingNumber').html('Routing number required.');
					return false;
				}
				else{
					$('#errRoutingNumber').html('');
					if(isNaN(routingNumber)==true){
						$('#errRoutingNumber').html("Only digits allowed.");
						return false;
					}
					else{
						$('#errRoutingNumber').html('');
						if(routingNumber.length != 9){
							$('#errRoutingNumber').html('Routing number length should be 9.');
							return false;
						}
						else{
							$('#errRoutingNumber').html('');
							if(routingNumber.charAt(0)=='5'){
								$('#errRoutingNumber').html("Routing number can't start with 5.");	
								return false;
							}
							else{
								$('#errRoutingNumber').html('');
								if(accountNumber==''){
									$('#errAccNumber').html("Account number required.");
									return false;
								}
								else{
									$('#errAccNumber').html("");
									if(isNaN(accountNumber)==true){
										$('#errAccNumber').html("Only digits allowed.");
										return false;
									}
									else{
										$('#errAccNumber').html("");	
										if(accountNumber.length<2){
											$('#errAccNumber').html("Minimum 2 digits required.");
											return false;
										}
										else{
											$('#errAccNumber').html("");
											if(accountHolderName==''){
												$('#errAccHolderName').html("Account holder name required.");
												return false;
											}	
											else{
												if(isNaN(accountHolderName)==false)	{
													$('#errAccHolderName').html("No digits allowed.");
													return false;
												}
												else{
													$('#errAccHolderName').html('');
													if(accountHolderIndex=='0'){
														$('#errAccHolderType').html('Please select account type.');
														return false;
													}
													else{
														$('#errAccHolderType').html('');
														if(accountHolderType==""){
															$('#errAccHolderType').html('Please select account type.');		
															return false;
														}
														else{
															$('.acc_number').val(accountNumber);
															$('.acc_holder_type').val(accountHolderType);
															$('.acc_holder_name').val(accountHolderName);
															$('.routing_no').val(routingNumber);
														}
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			});
			//End Bank details verification validation
			$('#cancelBankDetails').click(function(){
				$('#routing_number').val('');
				$('#account_holder_name').val('');
				$('#account_number').val('');
				$('#account_holder_type').prop('selectedIndex', 0);
			});
			$('#closeVerify').click(function(){
				$('#first_deposit').val('');
				$('#second_deposit').val('');
			});
		});
	</script>
</body>
</html>